flow-Diabetes_Doctor.json
[{"id":"49eff02e.26a3d","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"917fa265.171d6","type":"ui_form","z":"49eff02e.26a3d","name":"","label":"","group":"4e1409d5.9be9f8","order":3,"width":23,"height":1,"options":[{"label":"Number of times pregnant","value":"preg","type":"number","required":true,"rows":null},{"label":"Plasma glucose concentration a 2 hours in an oral glucose tolerance test","value":"plas","type":"number","required":true,"rows":null},{"label":"Diastolic blood pressure (mm Hg)","value":"pres","type":"number","required":true,"rows":null},{"label":"Triceps skin fold thickness (mm)","value":"skin","type":"number","required":true,"rows":null},{"label":"2-Hours serum insulin (mu U/ml)","value":"test","type":"number","required":true,"rows":null},{"label":"Body mass index (weight in kg/(height in m)^2)","value":"mass","type":"text","required":true,"rows":null},{"label":"Diabetes pedigree function","value":"pedi","type":"text","required":true,"rows":null},{"label":"Age (years)","value":"age","type":"number","required":true,"rows":null}],"formValue":{"preg":"","plas":"","pres":"","skin":"","test":"","mass":"","pedi":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":230,"y":300,"wires":[["d2d0bb61.ffbc08","334dd733.caf988"]],"info":"`@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');\n\nbody {\n  margin: 0;\n  width: 100vw;\n  height: 100vh;\n  background: #ecf0f3;\n  display: flex;\n  align-items: center;\n  text-align: center;\n  justify-content: center;\n  place-items: center;\n  overflow: hidden;\n  font-family: poppins;\n}\n\n.container {\n  position: relative;\n  width: 350px;\n  height: 500px;\n  border-radius: 20px;\n  padding: 40px;\n  box-sizing: border-box;\n  background: #ecf0f3;\n  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;\n}\n\n.brand-logo {\n  height: 100px;\n  width: 100px;\n  background: url(\"https://img.icons8.com/color/100/000000/twitter--v2.png\");\n  margin: auto;\n  border-radius: 50%;\n  box-sizing: border-box;\n  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;\n}\n\n.brand-title {\n  margin-top: 10px;\n  font-weight: 900;\n  font-size: 1.8rem;\n  color: #1DA1F2;\n  letter-spacing: 1px;\n}\n\n.inputs {\n  text-align: left;\n  margin-top: 30px;\n}\n\nlabel, input, button {\n  display: block;\n  width: 100%;\n  padding: 0;\n  border: none;\n  outline: none;\n  box-sizing: border-box;\n}\n\nlabel {\n  margin-bottom: 4px;\n}\n\nlabel:nth-of-type(2) {\n  margin-top: 12px;\n}\n\ninput::placeholder {\n  color: gray;\n}\n\ninput {\n  background: #ecf0f3;\n  padding: 10px;\n  padding-left: 20px;\n  height: 50px;\n  font-size: 14px;\n  border-radius: 50px;\n  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;\n}\n\nbutton {\n  margin-top: 20px;\n  background: #1DA1F2;\n  height: 40px;\n  border-radius: 20px;\n  cursor: pointer;\n  font-weight: 900;\n  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;\n  transition: 0.5s;\n}\n\nbutton:hover {\n  box-shadow: none;\n}\n\na {\n  position: absolute;\n  font-size: 8px;\n  bottom: 4px;\n  right: 4px;\n  text-decoration: none;\n  color: black;\n  background: yellow;\n  border-radius: 10px;\n  padding: 2px;\n}\n\nh1 {\n  position: absolute;\n  top: 0;\n  left: 0;\n}`"},{"id":"d2d0bb61.ffbc08","type":"function","z":"49eff02e.26a3d","name":"global variables for form","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"preg\",msg.payload.preg)\nglobal.set(\"mass\",msg.payload.mass)\nglobal.set(\"test\",msg.payload.test)\nglobal.set(\"plas\",msg.payload.plas)\nglobal.set(\"pres\",msg.payload.pres)\nglobal.set(\"skin\",msg.payload.skin)\nglobal.set(\"pedi\",msg.payload.pedi)\n\nvar apikey=\"P_qYrmMdqpJFYiDzsmTfWkKk6tjCdDgJpdtDF6RHUxRP\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":280,"wires":[["f8ea23ab.ea21b","1e566800.78a068"]]},{"id":"334dd733.caf988","type":"debug","z":"49eff02e.26a3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":340,"wires":[]},{"id":"1e566800.78a068","type":"debug","z":"49eff02e.26a3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":340,"wires":[]},{"id":"f8ea23ab.ea21b","type":"http request","z":"49eff02e.26a3d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":240,"wires":[["8da080d6.abcf4","fd510510.39e8c8"]]},{"id":"8da080d6.abcf4","type":"debug","z":"49eff02e.26a3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":180,"wires":[]},{"id":"fd510510.39e8c8","type":"function","z":"49eff02e.26a3d","name":"","func":"var age = global.get(\"age\",msg.payload.age)\nvar preg = global.get(\"preg\",msg.payload.preg)\nvar mass = global.get(\"mass\",msg.payload.mass)\nvar test = global.get(\"test\",msg.payload.test)\nvar plas = global.get(\"plas\",msg.payload.plas)\nvar pres = global.get(\"pres\",msg.payload.pres)\nvar skin = global.get(\"skin\",msg.payload.skin)\nvar pedi = global.get(\"pedi\",msg.payload.pedi)\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"age\", \"preg\", \"mass\",\"test\", \"plas\",  \"pres\", \"skin\", \"pedi\"]],\"values\": [[age, preg, mass, test, plas, pres, skin, pedi]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":280,"wires":[["5578564b.be5f38"]]},{"id":"5578564b.be5f38","type":"http request","z":"49eff02e.26a3d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/00728fc8-7dcd-4262-94fb-71d606cee969/predictions?version=2021-08-09","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":320,"wires":[["ae612c0c.e1f57","96e45adc.63d618"]]},{"id":"ae612c0c.e1f57","type":"debug","z":"49eff02e.26a3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":280,"wires":[]},{"id":"96e45adc.63d618","type":"function","z":"49eff02e.26a3d","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nif(msg.payload == 0){\n    msg.payload = \"You dont have diabetes\";\n}\nelse{\n    msg.payload = \"You have diabetes\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":380,"wires":[["f7583b9f.c34a18","d59ef7e4.01e288"]]},{"id":"f7583b9f.c34a18","type":"debug","z":"49eff02e.26a3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1470,"y":340,"wires":[]},{"id":"c42dc24c.10e1a","type":"ui_template","z":"49eff02e.26a3d","group":"4e1409d5.9be9f8","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<title>W3.CSS Template</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Raleway\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody,h1,h2,h3,h4,h5,h6 {font-family: \"Raleway\", sans-serif}\n\nbody, html {\n  height: 100%;\n  line-height: 1.8;\n}\n\n/* Full height image header */\n.bgimg-1 {\n  background-position: center;\n  background-size: cover;\n  background-image: url(\"https://images.hindustantimes.com/img/2021/06/23/1600x900/d55d10aa-d3e2-11eb-aa44-bd97d0999889_1624425821199.jpg\");\n  /*background-image: url(\"https://www.genengnews.com/wp-content/uploads/2020/08/Aug28_2020_Getty_1213259073_DiabetesTestingEquipment-scaled-e1598623827835.jpg\");*/\n  height: 789px;\n}\n\n.w3-card img {\n    height: 300px;\n    width: auto;\n    object-fit: cover;\n}\n\n.w3-bar .w3-button {\n  padding: 16px;\n}\n\n</style>\n<body>\n\n<!-- Navbar (sit on top) -->\n<div class=\"w3-top\">\n  <div class=\"w3-bar w3-white w3-card\" id=\"myNavbar\">\n    <a href=\"#home\" class=\"w3-bar-item w3-button w3-wide\">DIABETES PREDICTION</a>\n    <!-- Right-sided navbar links -->\n    <div class=\"w3-right w3-hide-small\">\n      <a href=\"#about\" class=\"w3-bar-item w3-button\">ABOUT</a>\n      <a href=\"#team\" class=\"w3-bar-item w3-button\"><i class=\"fa fa-user\"></i> TEAM</a>\n      <a href=\"#contact\" class=\"w3-bar-item w3-button\"><i class=\"fa fa-envelope\"></i> CONTACT</a>\n    </div>\n    <!-- Hide right-floated links on small screens and replace them with a menu icon -->\n\n    <a href=\"javascript:void(0)\" class=\"w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium\" onclick=\"w3_open()\">\n      <i class=\"fa fa-bars\"></i>\n    </a>\n  </div>\n</div>\n\n<!-- Sidebar on small screens when clicking the menu icon -->\n<nav class=\"w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large\" style=\"display:none\" id=\"mySidebar\">\n  <a href=\"javascript:void(0)\" onclick=\"w3_close()\" class=\"w3-bar-item w3-button w3-large w3-padding-16\">Close ×</a>\n  <a href=\"#about\" onclick=\"w3_close()\" class=\"w3-bar-item w3-button\">ABOUT</a>\n  <a href=\"#team\" onclick=\"w3_close()\" class=\"w3-bar-item w3-button\">TEAM</a>\n  <a href=\"#work\" onclick=\"w3_close()\" class=\"w3-bar-item w3-button\">WORK</a>\n  <a href=\"#pricing\" onclick=\"w3_close()\" class=\"w3-bar-item w3-button\">PRICING</a>\n  <a href=\"#contact\" onclick=\"w3_close()\" class=\"w3-bar-item w3-button\">CONTACT</a>\n</nav>\n\n<!-- Header with full-height image -->\n<header class=\"bgimg-1 w3-display-container w3-grayscale-min\" id=\"home\">\n  <div class=\"w3-display-left w3-text-white\" style=\"padding:48px\">\n    <span class=\"w3-jdumbo w3-hide-small\" style=\"font-size: 48px; color: #000; font-weight: 700; text-shadow: 1px 1px 4px #F8F8F8;\">Diabetes is not caused just by eating too much sugar</span><br>\n    <span class=\"w3-xxlarge w3-hide-large w3-hide-medium\">Diabetes is not caused just by eating too much sugar</span><br>\n    <span class=\"w3-large\" style=\"color: #000; font-weight: 400; padding-botton: 12px;\">Your body is the most priceless posession. Take care of it. </span>\n    <p><a href=\"#about\" class=\"w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off\">Explore more</a></p>\n  </div>\n  <div class=\"w3-display-bottomleft w3-text-grey w3-large\" style=\"padding:24px 48px\">\n    <i class=\"fa fa-facebook-official w3-hover-opacity\"></i>\n    <i class=\"fa fa-instagram w3-hover-opacity\"></i>\n    <i class=\"fa fa-snapchat w3-hover-opacity\"></i>\n    <i class=\"fa fa-pinterest-p w3-hover-opacity\"></i>\n    <i class=\"fa fa-twitter w3-hover-opacity\"></i>\n    <i class=\"fa fa-linkedin w3-hover-opacity\"></i>\n  </div>\n</header>\n\n<!-- Promo Section - \"We know design\" -->\n<div class=\"w3-container w3-light-grey\" style=\"padding:128px 16px\">\n  <div class=\"w3-row-padding\">\n    <div class=\"w3-col m6\">\n      <h1 style=\"font-weight: 700;\"><br><br>One in six people with diabetes in the world is from India.</h1>\n      <h4>India is home to 77 million diabetics, second highest in the world</h4>\n    </div>\n    <div class=\"w3-col m6\">\n      <img class=\"w3-image w3-round-large\" src=\"https://cdn.shopify.com/s/files/1/0035/8413/1145/articles/Untitled_design_5_ef33567e-4e3e-4a14-b340-f6d732cd0e86_1400x.progressive.png.jpg?v=1602856534\" width=\"812\" height=\"540\">\n    </div>\n  </div>\n</div>\n\n<!-- Team Section -->\n<div class=\"w3-container\" style=\"padding:128px 16px\" id=\"team\">\n  <h3 class=\"w3-center\">BEST PRACTICES</h3>\n  <p class=\"w3-center w3-large\">How can diabetes be managed</p>\n  <div class=\"w3-row-padding w3-grayscale\" style=\"margin-top:64px\">\n    <div class=\"w3-col l3 m6 w3-margin-bottom\">\n      <div class=\"w3-card\">\n        <img src=\"https://domf5oio6qrcr.cloudfront.net/medialibrary/7706/a3a5370b-453e-4f11-86e5-596003b3acb716207267274569.jpg\" alt=\"John\" style=\"width:100%\">\n        <div class=\"w3-container\">\n          <h3>DIET<br></h3>\n          <p>Follow a Mediterranean diet or Dash diet. These diets are high in nutrition and fiber and low in fats and calories. </p>\n          <h3><br></h3>\n        </div>\n      </div>\n    </div>\n    <div class=\"w3-col l3 m6 w3-margin-bottom\">\n      <div class=\"w3-card\">\n        <img src=\"https://www.helpguide.org/wp-content/uploads/young-woman-performing-pushups-indoors-768.jpg\" alt=\"Jane\" style=\"width:100%\">\n        <div class=\"w3-container\">\n          <h3>EXERCISE<br></h3>\n          <p>Exercising regularly. Try to exercise at least 30 minutes most days of the week. Walk, swim or find some activity you enjoy.</p>\n          <h3><br></h3>\n        </div>\n      </div>\n    </div>\n    <div class=\"w3-col l3 m6 w3-margin-bottom\">\n      <div class=\"w3-card\">\n        <img src=\"https://www.dontwasteyourmoney.com/wp-content/uploads/2019/03/AdobeStock_200075137-900x400.jpeg\" alt=\"Mike\" style=\"width:100%\">\n        <div class=\"w3-container\">\n          <h3>MONITOR HEALTH<br></h3>\n          <p>Monitoring your blood glucose and blood pressure levels at home. Quitting smoking (if you smoke)</p>\n          <h3><br></h3>\n        </div>\n      </div>\n    </div>\n    <div class=\"w3-col l3 m6 w3-margin-bottom\">\n      <div class=\"w3-card\">\n        <img src=\"https://www.everseat.com/wp-content/uploads/2015/10/appointment_1500x1000-800x400.png\" alt=\"Dan\" style=\"width:100%\">\n        <div class=\"w3-container\">\n          <h3>APPOINMENTS<br></h3>\n          <p>Keeping your appointments with your healthcare providers and having laboratory tests completed as ordered by your doctor.</p>\n          <h3><br></h3>\n        </div>\n      </div>\n    </div>\n  </div>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":180,"wires":[[]]},{"id":"5daa744f.be03bc","type":"ui_template","z":"49eff02e.26a3d","group":"4e1409d5.9be9f8","name":"","order":6,"width":0,"height":0,"format":"<!-- Footer -->\n<footer class=\"w3-center w3-black w3-padding-64\">\n  <a href=\"#home\" class=\"w3-button w3-light-grey\"><i class=\"fa fa-arrow-up w3-margin-right\"></i>To the top</a>\n  <div class=\"w3-xlarge w3-section\">\n    <i class=\"fa fa-facebook-official w3-hover-opacity\"></i>\n    <i class=\"fa fa-instagram w3-hover-opacity\"></i>\n    <i class=\"fa fa-snapchat w3-hover-opacity\"></i>\n    <i class=\"fa fa-pinterest-p w3-hover-opacity\"></i>\n    <i class=\"fa fa-twitter w3-hover-opacity\"></i>\n    <i class=\"fa fa-linkedin w3-hover-opacity\"></i>\n  </div>\n  <p> Done by <h5> Bharathwaj Murali | Karthik B | Kavin A K </h5></p>\n</footer>\n\n<script>\n// Modal Image Gallery\nfunction onClick(element) {\n  document.getElementById(\"img01\").src = element.src;\n  document.getElementById(\"modal01\").style.display = \"block\";\n  var captionText = document.getElementById(\"caption\");\n  captionText.innerHTML = element.alt;\n}\n\n\n// Toggle between showing and hiding the sidebar when clicking the menu icon\nvar mySidebar = document.getElementById(\"mySidebar\");\n\nfunction w3_open() {\n  if (mySidebar.style.display === 'block') {\n    mySidebar.style.display = 'none';\n  } else {\n    mySidebar.style.display = 'block';\n  }\n}\n\n// Close the sidebar with the close button\nfunction w3_close() {\n    mySidebar.style.display = \"none\";\n}\n\n  window.watsonAssistantChatOptions = {\n      integrationID: \"25f3fe88-468b-4b10-b9b8-0833ffde434c\", // The ID of this integration.\n      region: \"eu-gb\", // The region your integration is hosted in.\n      serviceInstanceID: \"0ec88e3b-dcf1-4cbd-8a1f-2d0c1d2791fd\", // The ID of your service instance.\n      onLoad: function(instance) { instance.render(); }\n    };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js\";\n    document.head.appendChild(t);\n  });\n</script>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":440,"y":480,"wires":[[]]},{"id":"d59ef7e4.01e288","type":"ui_text","z":"49eff02e.26a3d","group":"4e1409d5.9be9f8","order":5,"width":27,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1470,"y":440,"wires":[]},{"id":"4e1409d5.9be9f8","type":"ui_group","name":"Enter the values","tab":"c6d055f4.48aaa8","order":1,"disp":false,"width":27,"collapse":false},{"id":"c6d055f4.48aaa8","type":"ui_tab","name":"Diabetes Prediction","icon":"Dashboard","order":5,"disabled":false,"hidden":true}]